$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;

:root {
	--bg-color-yellow: #f9db88;
	--bg-color-green: #4fbd8c;
	--bg-color-green-light: #71d5a1;
	--text-color: #333;
	--text-color-red: #eb3531;
	--bg-color-red: #ff448f;
	--bg-color-red-light: #ff67ad;
	--bg-color-red-litle: #ffd8e7;
}

$text-color: var(--text-color);
$text-color-reverse: var(--text-color-reverse);
$text-color-tab: var(--text-color-tab);

$bg-color: var(--bg-color-yellow);
$bg-shadow: var(--bg-shadow);
$theme-color: var(--theme-color);

$color-red: red;
$color-green: green;
$color-blue: blue;
$color-orange: orange;
$color-yellow: yellow;

// $normal: (
// 	color: (
// 		common: #454545,
// 		active: #fdd303
// 	),
// 	background-color: (
// 		common: #fff
// 	)
// );

// $dark: (
// 	color: (
// 		common: #fff,
// 		active: #007aff
// 	),
// 	background-color: (
// 		common: #000
// 	)
// );

// $theme: (
// 	"default": $normal,
// 	"dark": $dark
// )